<div class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__logo">LOGO</div>
      <div class="footer__column">
        <div class="footer__title">Information and high risk warning:</div>
        <div class="footer__text">
          Trading with foreign exchange (FX), contract for differences (CFDs)
          and precious metals carries a high level of risk that may not be
          suitable for all investors. Leverage creates additional risk and loss
          exposure. Before you decide to trade foreign exchange or contract for
          differences, carefully consider your investment objectives, experience
          level, and risk tolerance.
        </div>
      </div>
      <div class="footer__column">
        <div class="footer__title">Legal disclaimer:</div>
        <div class="footer__text">
          Forex trading entails significant risks and is not appropriate for all
          investors. The possibility of incurring substantial losses should be
          taken into account. It is therefore important to understand the
          possible consequences of investing. Traders should weigh their earning
          potential against the risks involved and act accordingly. Interactive
          Trade Ltd operating under brand and using domenLink domain within the
          European Economic Area.
        </div>
      </div>
      <div class="footer__links">
        <div class="footer__link"><span class="link">About us</span></div>
        <div class="footer__link"><span class="link">Instructions</span></div>
        <div class="footer__link"><span class="link">Platforms</span></div>
        <div class="footer__link"><span class="link">Contact Us</span></div>
        <div class="footer__link"><span class="link">Sign in</span></div>
        <div class="footer__link">
          <span class="link">Sign up for free</span>
        </div>
      </div>
    </div>
    <div class="footer__footer">
      <div class="footer__terms">Copyright 2020, All Right Reserved</div>
      <div class="footer__terms">Terms and Conditions</div>
      <div class="footer__terms">Privacy Policy</div>
      <div class="footer__terms">Risk Warnings</div>
      <div class="footer__terms">Anti-Money Laundering</div>
    </div>
  </div>
</div>
