<div class="footer">
  <div class="container">
    <div class="footer__body">
      <div class="footer__logo">LOGO</div>
      <div class="footer__column">
        <div class="footer__title">Information and high risk warning:</div>
        <div class="footer__text">
          Trading with foreign exchange (FX), contract for differences (CFDs)
          and precious metals carries a high level of risk that may not be
          suitable for all investors. Leverage creates additional risk and loss
          exposure. Before you decide to trade foreign exchange or contract for
          differences, carefully consider your investment objectives, experience
          level, and risk tolerance.
        </div>
      </div>
      <div class="footer__column">
        <div class="footer__title">Legal disclaimer:</div>
        <div class="footer__text">
          Forex trading entails significant risks and is not appropriate for all
          investors. The possibility of incurring substantial losses should be
          taken into account. It is therefore important to understand the
          possible consequences of investing. Traders should weigh their earning
          potential against the risks involved and act accordingly. Interactive
          Trade Ltd operating under brand and using domenLink domain within the
          European Economic Area.
        </div>
      </div>
      <div class="footer__links">
        <div class="footer__link">About us</div>
        <div class="footer__link">Instructions</div>
        <div class="footer__link">Platforms</div>
        <div class="footer__link">Contact Us</div>
        <div class="footer__link">Sign in</div>
        <div class="footer__link">Sign up for free</div>
      </div>
    </div>
    <div class="footer__footer">
      <div>Copyright 2020, All Right Reserved</div>
      <div>Terms and Conditions</div>
      <div>Privacy Policy</div>
      <div>Risk Warnings</div>
      <div>Anti-Money Laundering</div>
    </div>
  </div>
</div>
