<div class="started__content">
  <div class="started__title">Getting Started Is</div>
  <div class="started__title title2">
    <span class="marked">Fast & Easy</span>
  </div>
  <div class="started__cards">
    <div class="strted__card start">
      <div class="card__num">01.</div>
      <div class="card__title">Register</div>
      <div class="card__body">
        Complete the simple registration to get your trading credentials.
      </div>
    </div>
    <div class="strted__card end">
      <div class="card__num">02.</div>
      <div class="card__title">Verification</div>
      <div class="card__body">
        Big Invest is required to verify your identity, upload your documents
        quickly and get approved in minutes.
      </div>
    </div>
    <div class="strted__card start">
      <div class="card__num">03.</div>
      <div class="card__title">Deposit funds</div>
      <div class="card__body">
        Big Invest accepts credit cards and bank wires. Just use the secure
        deposit form and follow the steps.
      </div>
    </div>
    <div class="strted__card end">
      <div class="card__num">04.</div>
      <div class="card__title">Start Trading</div>
      <div class="card__body">
        Once your deposit has been credited, you can begin trading instantly. In
        no time you will see profits rolling into your account.
      </div>
    </div>
  </div>
</div>
