<div class="questions">
  <div class="container">
    <div class="questions__content">
      <div class="questions__title">
        <div>Frequently asked</div>
        <div><span class="marked">questions</span></div>
      </div>
      <div class="questions__body">
        <div class="question">
          <div class="question__main">
            <div class="question__title">How do I change my details?</div>
            <div class="question__sign"></div>
          </div>
        </div>
        <div class="question">
          <div class="question__main">
            <div class="question__title active">
              What platforms will I be able to use?
            </div>
            <div class="question__sign active"></div>
          </div>
          <div class="question__text">
            We provide only the best trading software. The trading terminal
            MetaTrader4 is the most popular and convenient platform for access
            to global exchanges. You can work anywhere. All you need is the
            Internet because the necessary trading tools are already collected
            in one place and are available in a couple of clicks. Use only the
            best and develop with us!
          </div>
        </div>
        <div class="question">
          <div class="question__main">
            <div class="question__title">How do I change my details?</div>
            <div class="question__sign"></div>
          </div>
        </div>
        <div class="question">
          <div class="question__main">
            <div class="question__title">How do I change my details?</div>
            <div class="question__sign"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
