.app-navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navbar__logomenu {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    .navbar__logo {
      font-weight: bold;
      font-size: 15px;
      line-height: 16px;
    }
    .items {
      display: flex;
      align-items: center;
      gap: 32px;
      .item {
        font-weight: 500;
        font-size: 15px;
        color: #333333;
      }
    }
  }
  .navbar__btns {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // gap: 30px;
    .navbar_lng {
      padding: 13px 24px;
      border-radius: 60px;
      border: 1px solid #333;
      display: flex;
      .navbar_lngsvg {
        margin: 0px 0 0px 11px;
        display: flex;
        align-items: center;
      }
    }
    .navbar__signup {
      padding: 13px 24px;
      background: #6248ff;
      border-radius: 60px;
      color: #ffffff;
    }
  }
  .navbar__menu {
    display: none;
    cursor: pointer;
    margin: 0 40px 0 48px;
  }
}

.arrow {
  border: solid #000;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media (max-width: 768px) {
  .app-navbar {
    justify-content: flex-end;
    .navbar__logomenu {
      display: none;
      .items {
        display: none;
      }
    }
    .navbar__btns {
<<<<<<< HEAD
      .navbar_lng {
        display: none;
      }
=======
>>>>>>> 179a14e407da4081835a0e5d5f125ec82490696d
    }
    .navbar__menu {
      display: block;
    }
  }
<<<<<<< HEAD
=======
  .navbar_lng {
    display: none;
  }
>>>>>>> 179a14e407da4081835a0e5d5f125ec82490696d
}

@media (max-width: 320px) {
  .app-navbar {
    .navbar__logomenu {
      display: block;
    }
    .navbar__btns {
      display: none;
    }
    .navbar__menu {
      margin: 28px 20px;
    }
  }
}
