<div class="app-navbar">
  <div class="navbar__logomenu">
    <div>Logo</div>
    <div class="items">
      <div class="item">How it works</div>
      <div class="item">About</div>
      <div class="item">Instructions</div>
      <div class="item">Accounts</div>
      <div class="item">Platforms</div>
      <div class="item">Contact</div>
    </div>
  </div>
  <div class="navbar__btns">
    <div class="navbar_lng">EN ></div>
    <div class="navbar__signup">SIGN UP FOR FREE</div>
  </div>
</div>
