<div class="contact">
  <div class="container">
    <div class="contact__content">
      <div class="contact__body">
        <div class="contact__title">Contact us!</div>
        <div class="contact__text">
          The support staff and customer service are available to help you with
          any questions or needs you might have. Just drop us a line.
        </div>
        <div class="contact__textblock">
          <div>This site is owned and operated by Kode Tech Solutions LTD</div>
          <div>
            <div class="textblock__header">Phone:</div>
            <div>442038857261</div>
          </div>
          <div>
            <div class="textblock__header">Email:</div>
            <div>help@google.com</div>
          </div>
          <div>
            <div class="textblock__header">Address:</div>
            <div>
              Trust Company Complex, Ajeltake Road, Ajeltake Island, Majuro,
              Republic of the Marshall Islands, MH 96960
            </div>
          </div>
          <div></div>
        </div>
      </div>
      <div class="contact__form"></div>
    </div>
  </div>
</div>
