<div class="main__content">
  <div class="main__body">
    <div class="main__title">
      <div>Trade everywhere.</div>
      <div>Invest here!</div>
    </div>
    <div class="main__text">
      We provide only the best trading software. The trading terminal
      MetaTrader4 is the most popular and convenient platform for access to
      global exchanges. You can work anywhere.
    </div>
    <div class="main__btn">START TRADING</div>
  </div>

  <div class="main__img">
    <img src="/assets/img/main.png" alt="main image" />
  </div>
</div>
