.main {
  height: 720px;
  background: #6348ff2a;
  // opacity: 0.1;
  .main__content {
    color: #333;
    display: flex;
    justify-content: space-between;
    .main__body {
      width: 60%;
      // height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .main__title {
        font-weight: 500;
        font-size: 64px;
        line-height: 72px;
        color: #333333;
        margin: 139px 0 32px 0;
      }
      .main__text {
        font-size: 18px;
        color: #4f4f4f;
        margin: 0 0 48px 0;
        max-width: 483px;
        line-height: 30px;
      }
      .main__btn {
        background: #6248ff;
        border-radius: 60px;
        padding: 20px 64px;
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
      }
    }
    .main__img {
      margin: 100px 0;
      height: 519px;
      width: 482px;
      border: 1px solid #333;
    }
  }
}
