.main {
  background: #6348ff2a;
}

.contact {
  background: #6348ff2a;
}

.footer {
  margin: 32px 0 72px 0;
}

.container {
  padding: 0 120px;
  max-width: 1440px;
  margin: auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0 40px;
  }
  .footer {
    margin: 62px 0 48px 0;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0 20px;
  }
  .footer {
    margin: 32px 0;
  }
}
