<app-navbar></app-navbar>
<div class="main">
  <div class="container">
    <app-main></app-main>
  </div>
</div>
<div class="started">
  <div class="container">
    <app-started></app-started>
  </div>
</div>
<div class="people">
  <div class="container">
    <app-people></app-people>
  </div>
</div>
<div class="questions">
  <div class="container">
    <app-questions></app-questions>
  </div>
</div>
<div class="contact">
  <div class="container">
    <app-contact></app-contact>
  </div>
</div>
<div class="footer">
  <div class="container">
    <app-footer></app-footer>
  </div>
</div>
