.people__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .people__title {
    font-weight: 600;
    font-size: 56px;
    line-height: 66px;
    .marked {
      background-color: #6348ff2a;
    }
  }
  .people__body {
    .people__author {
      display: flex;
      .author__pic {
        height: 73px;
        width: 73px;
        margin: 0 30px 17px 0;
      }
      .author__body {
        .author__name {
          font-weight: 500;
          font-size: 18px;
          line-height: 30px;
          color: #333333;
        }
        .author__position {
          font-family: Montserrat;
          font-size: 16px;
          line-height: 27px;
          color: #4f4f4f;
        }
      }
    }

    .people__text {
      margin: 0 0 31px -50px;
      display: flex;
      .text__quotes {
        margin: 0 15px 0 0;
      }
      .text__body {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #333333;
      }
    }
    .people__datearrow {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .people__date {
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: #6248ff;
      margin: auto;
    }
  }
  .fullscreen-arrows {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .pad-arrows {
    display: none;
  }
  .mobile-arrows {
    display: none;
  }
  .arrow {
    cursor: pointer;
    user-select: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #e0e0e0;

    &.active {
      border: 1px solid #6248ff;
    }
  }
}

@media (max-width: 768px) {
  .people__content {
    grid-template-columns: auto;
<<<<<<< HEAD
=======
    .people__title {
    }
>>>>>>> 179a14e407da4081835a0e5d5f125ec82490696d

    .people__body {
      margin-top: 20px;
      text-align: center;

      .people__author {
        flex-direction: column;
        align-items: center;
        margin: 0 0 16px 0;

        .author__pic {
          margin: 0 0 10px 0;
        }
      }
      .people__text {
        margin: 0 0 31px 0px;
        display: block;
        .text__quotes {
          margin: 0 0px 16px 0;
        }
      }
      .people__textquotes {
        display: flex;
<<<<<<< HEAD
        gap: 42px;
=======
>>>>>>> 179a14e407da4081835a0e5d5f125ec82490696d
      }
    }
    .fullscreen-arrows {
      display: none;
    }
    .pad-arrows {
      margin: 20px 0 0 0;
      display: block;
    }
  }
}

@media (max-width: 320px) {
  .people__content {
    .people__title {
      font-size: 40px;
      line-height: 44px;
    }
    .pad-arrows {
      display: none;
    }
    .mobile-arrows {
      display: block;
    }
  }
}
