<div class="people">
  <div class="container">
    <div class="people__content">
      <div class="people__title">
        People love Big <span class="marked">Invest</span>
      </div>
      <div class="people__body">
        <div class="people__author">
          <div class="author__pic"><img src="../../img/author1.png" /></div>
          <div class="author__body">
            <div class="author__name">Albert Abello</div>
            <div class="author__position">Director of Growth</div>
          </div>
        </div>
        <div class="people__text">
          This magical product actually works! It has radically changed the way
          we build our audiences. Increasing new customer sales by 6x in our
          most mature market.
        </div>
        <div class="people__date">01 / 04</div>
      </div>
    </div>
  </div>
</div>
