/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../src/fonts/MuseoSansCyrl_500.woff") format("woff");
}

* {
  font-family: MuseoSansCyrl;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 120px;
  max-width: 1440px;
  margin: auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0 20px;
  }
}
